#navbar a.active {
  background-color: #0c4a6e;
  color: #ffffff;
}

#navbar a.active > .icon {
  color: #ffffff;
}

.navLink:hover {
  background-color: #0c4a6e;
  color: #ffffff;
  ease: all 0.2s;
  -webkit-transition: all 0.2s;
}

.navLink:hover .faIcon {
  color: #ffffff;
}

.navLink.active .faIcon {
  color: #ffffff;
}
